<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers" margin></ion-back-button>
    </ion-buttons>
    <ion-title>{{offer.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col text-center size="12" size-sm="8" offset-sm="2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ offer.title }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ offer.price | currency }} / Night
          </ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]="offer.imageUrl"></ion-img>
        <ion-card-content>
          <p>
            {{offer.description}}
          </p>
        </ion-card-content>
        <div>
          <ion-button margin color="primary" [routerLink]="['/','places','offers',offer.id,'edit']">edit
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
